body {
  text-align: center;
}

table {
  margin: auto;
}

td {
  width: 60px;
  height: 60px;
}

td button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: gray;
  border: 2px solid black;
}
